<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{c.name}}
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://w7.pngwing.com/pngs/436/926/png-transparent-universidad-of-guayaquil-university-of-guayaquil-universidad-internacional-del-ecuador-uide-quito-24x7-text-logo-university.png" />
        </ion-avatar>
        <ion-label>Avatar de usuario</ion-label>
      </ion-item>
      <ion-button expand="block">Lección 1er parcial</ion-button>
    </ion-list>
</ion-content>